.card-body {
    background-color: #2952a3;
    color: #fff;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
.card {
    border: 2px solid #2952a3 !important;
 	height: auto;
}
.card-title {
    margin-bottom: 0px; 
}
.card-img-top{
	height: 244px;
}
.modal-content{
        background-color: #85a3e0 !important;
}
.card-popup{
	border: 2px solid #2952a3 !important;
	background: #c2d1f0;
}
.list-group-item {
    display: list-item !important;
    padding: 0px !important;
     background-color: transparent !important;
    border: none !important;
}
.v-divider{
 padding-left:30px;
 padding-right:0px;
 width:3px;
 height:100%;
 border-left:2px solid #2952a3;
}
.modal-content{
	border-radius: 12px !important;
}
.modal-content .card-popup {
    border: 2px solid #2952a3 !important;
    background: #c2d1f0;
    border-radius: 12px;
}
.modal-content .card-body {
    border-radius: 6px;
}
.modal-content .card{
    border-radius: 12px;
}
.modal-content .card-popup {
    min-height: 355px;
}
.close{
   line-height: 0;
}
.list-group.concerns{
	margin-left:35px;
}
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
	cursor: pointer;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(2n):after {
        content: "";
        border-left: 2px solid #2952a3;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
	.card-container .card-body {
	height: 70px !important;
 }
}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) {
	body{ font-size:1 rem; } 
} 
@media (min-width: 992px) {
.modal-lg, .modal-xl {
    max-width: 950px;
}
}
@media ( min-width: 768px ) {

}